<!DOCTYPE html>
<html lang="en">
<!--2016-2017 by J Ramb-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daisy status</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="daisy.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="daisy.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--script src="https://unpkg.com/vue@next/dist/vue.js"></script-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Daisy</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/docs">Documentation</a></li>
            <!--<li><a href="#contact">Contact</a></li>-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div id="daisyStats">
      <div class="container">
        <div class="col-md-5" v-show="initialized">
          <span v-if="alive" class="label label-success">Daisy is alive</span>
          <span v-else class="label label-danger">Daisy is not responding</span>
          <table v-if="initialized" class="table table-striped">
            <tr><th>Server start time</th><td>{{ new Date(stats.ServerStartTime).toJSONLocal() }}</td><td class="diff">{{ stats.Uptime }}</td></tr>
            <tr><th>Stats refreshed</th><td>{{ stats.refreshDate.toJSONLocal() }}</td><td class="diff">{{ stats.CountersDiff.TimeDiff }}</td></tr>
            <tr><th># Sources</th><td>{{ stats.CurrentCounters.Sources }}</td><td class="diff">{{ stats.CountersDiff.Sources }}</td></tr>
            <tr><th># Accesses</th><td>{{ stats.CurrentCounters.Accesses }}</td><td class="diff">{{ stats.CountersDiff.Accesses }}</td></tr>
            <tr><th>Fetches</th><td>{{ stats.CurrentCounters.Fetches }}</td><td class="diff">{{ stats.CountersDiff.Fetches }}</td></tr>
            <tr><th>Errors</th><td>{{ stats.CurrentCounters.Errors }}</td><td class="diff">{{ stats.CountersDiff.Errors }}</td></tr>
          </table>
        </div>
      </div>
      <div class="container">
        <div class="col-md-5">
          <h4>DB internals</h4>
          <pre>{{ stats.DBStatsDiff }}</pre>
        </div>
      </div>
    </div>
 
</body>
</html>

